.headerAndProfileWrap
	position relative
	
header
	background purple
	height 100vh
	// z-index -1
	display flex
	position relative
	// clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%)
	padding 100px 0 50px 0
	// angled-edge('outside bottom', 'lower right', purple, 1900, 250)
	// angled-edge('outside bottom', 'lower right', purple, 250)
	+for_bp(sml)
		// min-height auto
		padding 200px 0 150px 0

.menu 
	position absolute
	right 0
	top 0
	padding 30px 40px 0 0
	z-index 5
	

.menu a
	font-size 3rem
	color white
//This is all the header floating images
.bgrndImgContain
	position absolute

.pinkLine
	top -90%
	left 55%
	// z-index 300
	+for_bp(sml)
		left auto
		top -35%
		right 90%
		z-index -2
	
.pinkLine svg
	height 100px
	transform rotate(90deg)
	stroke #F05689
	fill none

.pinkLine:hover img
	transform rotate(25deg)
	
.blueSquiggle
	bottom -90%
	right 15%
	+for_bp(sml)
		bottom -50%
		right 1%

.blueSquiggle svg
	height 75px
	stroke #2391ee
	fill none

.greenArrow
	bottom -90%
	right 75%
	+for_bp(sml)
		top -25%
		right -10%
		bottom auto
		

.greenArrow svg
	height 75px
	fill none
	stroke #50EFCB
	// clip-rule evenodd
	// fill-rule evenodd
//Positioned relative to header
.triangleCircle
	bottom -25%
	left 10%
	z-index 2
	+for_bp(lrg)
		left -100%
	+for_bp(med)
		left -70%
		top -20%
	+for_bp(sml)
		left -100%
		top -50%

.triangleCircle img
	height 175px
	
.header__text 
	transform rotate(-90deg)
	color black
	margin auto
	position relative

.header__text h1 
	margin 0
	font-size 9rem
	color white
	line-height 0.8
	text-transform uppercase
	letter-spacing 1.4px
	
.header__text h2
	font-size 6.5rem
	color white
	text-transform uppercase
	line-height 0.9
	// letter-spacing 1px

.header__text h4
	font-size 2rem
	color pink


//HAMBURGER
.menuInner 
	display none
	position absolute
	right 40px
	top 50px
	text-align right
	list-style none
	font-size 2rem
	z-index 300
	// background transparentify(offWhite, 0.95)
	+for_bp(sml)
		right 0
		left 0
		padding 10px
		font-size 1.5rem

.menuInner li
	padding 10px 0
	color darken(grey, 60)
	+for_bp(sml)
		padding 10px 0

.menuInner li a
	text-decoration none
	color pink
	transition all 0.3s ease-out

.menuInner li a:hover
	color purple

.innerMenuWrap 
	padding 30px
	background transparentify(offWhite, 0.95)
	angled-edge('outside bottom', 'lower right', transparentify(offWhite, 0.95), 1900, 200)
	+for_bp(sml)
		padding 30px 30px 30px 10px

.innerMenuWrap::after
	z-index 106


.menuShow
	display block

.innerMenuWrap__item--marginTop
	margin-top 10px
	
//Hidden name for SEO
h1.hidden
	position absolute
	left -99999px