.headerAndProfileWrap
	position relative
	
header
	background purple
	height 90vh
	display flex
	position relative
	padding 100px 0 50px 0
	+for_bp(sml)
		height 700px

.menu 
	position absolute
	right 0
	top 0
	padding 30px 40px 0 0
	z-index 5
	

.menu a
	font-size 3rem
	color white
	text-decoration none
	
//This is all the header floating images
.bgrndImgContain
	position absolute

.pinkLine
	left -90%
	top 25%
	+for_bp(med)
		left -40%
		top -30%
	+for_bp(sml)
		top -75%
		left -15%
		// right 90%
		// z-index -2
	
.pinkLine svg
	height 100px
	transform rotate(90deg)
	stroke #F05689
	fill none
	+for_bp(sml)
		transform rotate(45deg)

.pinkLine:hover img
	transform rotate(25deg)
	
.blueSquiggle
	top -90%
	left -45%
	+for_bp(sml)
		bottom -50%
		right 1%
		left auto

.blueSquiggle svg
	height 75px
	stroke #2391ee
	fill none
	// transform rotate(45deg)

.greenArrow
	top 50%
	right -40%
	+for_bp(sml)
		top auto
		right 0
		bottom -40%
		

.greenArrow svg
	height 75px
	fill none
	stroke #50EFCB

//Positioned relative to header
.triangleCircle
	bottom -25%
	left 10%
	z-index 2
	+for_bp(lrg)
		left -100%
	+for_bp(med)
		left -70%
		top -20%
	+for_bp(sml)
		left -100%
		top -50%

.triangleCircle img
	height 175px
	
.header__text 
	// transform rotate(-90deg)
	color black
	margin auto
	position relative

.header__text h1 
	margin 0
	font-size 9rem
	color white
	line-height 0.8
	text-transform uppercase
	letter-spacing 1.4px
	+for_bp(sml)
		font-size 8rem
	
.header__text h2
	font-size 6.5rem
	color white
	text-transform uppercase
	line-height 0.9
	+for_bp(sml)
		font-size 5rem

.header__text h4
	font-size 2rem
	color pink


//HAMBURGER
.menuInner 
	display none
	position absolute
	right 40px
	top 50px
	text-align right
	list-style none
	font-size 2rem
	z-index 300
	+for_bp(sml)
		right 0
		left 0
		padding 10px
		font-size 1.5rem

.menuInner li
	padding 10px 0
	color darken(grey, 60)
	+for_bp(sml)
		padding 10px 0

.menuInner li a
	color pink
	transition all 0.3s ease-out
	text-decoration none
	
.menuInner li a:hover
	color purple

.innerMenuWrap 
	padding 30px
	background transparentify(offWhite, 0.95)
	angled-edge('outside bottom', 'lower right', transparentify(offWhite, 0.95), 1900, 200)
	+for_bp(sml)
		padding 30px 30px 30px 10px

.innerMenuWrap::after
	z-index 106

.menuShow
	display block

.innerMenuWrap__item--marginTop
	margin-top 10px
	
//Hidden name for SEO
h1.hidden
	position absolute
	left -99999px
	

.hamburgerSpin
	animation spin 0.5s ease-out forwards

.hamburgerHide
	display none

.exitIcon
	display none

.exitIconShow
	display block