sanSerif = 'Montserrat', sans-serif
serif = 'Playfair Display'

purple = #443a8b
pink = #fe6192
offWhite = #f7f7f7
grey = #b2b2b8


textDeco(color)
	content ''
	display inline-block
	border-left 1px solid color
	height 50px
	margin 0 10px 0 10px
	