@import 'partials/normalize'
@import 'partials/_variables'
@import 'partials/_svgLines.styl'
@import 'partials/_header.styl'
@import 'partials/_profile.styl'
@import 'partials/_skills.styl'
@import 'partials/_gallery.styl'
@import 'partials/_contact.styl'


html
	font-size 62.5%
body
	font-family sanSerif
	overflow-x hidden

+for_bp(sml)
	body 
		background yellow

+for_bp(med)
	body
		background green

+for_bp(lrg)
	body
		background blue

+for_bp(xlrg)
	body
		background cadetblue

h1
	// font-family serif
	// color blue
	font-size 4rem
	
h1, h2, h3, h4, h5
	margin 0
	

.wrapper 
	max-width 1900px
	margin 0 auto
	

//REUSED THROUGHOUT
.section__header
	text-align center
	// max-width 20%
	margin 0 auto 70px auto
	display flex
	flex-direction column

.section__header h1
	text-transform uppercase
	font-size 8rem
	letter-spacing 1.5px
	+for_bp(sml)
		font-size 4.5rem	
	
.section__header h5
	text-align right
	align-self center
	font-size 2rem
	margin-left 50px
	font-family serif

.gallery__header h5:before, .skills__header h5:before, .profile__header h5:before
	textDeco(black)
	


