@import 'partials/normalize'
@import 'partials/_variables'
@import 'partials/_svgLines.styl'
@import 'partials/_header.styl'
@import 'partials/_profile.styl'
@import 'partials/_skills.styl'
@import 'partials/_gallery.styl'
@import 'partials/_contact.styl'


html
	font-size 62.5%
body
	font-family sanSerif

.overflowWrap
	overflow-x hidden
	overflow-y hidden

// +for_bp(sml)
// 	body 
// 		background yellow

// +for_bp(med)
// 	body
// 		background green

// +for_bp(lrg)
// 	body
// 		background blue

// +for_bp(xlrg)
// 	body
// 		background cadetblue

h1
	// font-family serif
	// color blue
	font-size 4rem
	
h1, h2, h3, h4, h5
	margin 0
	

.wrapper 
	max-width 1900px
	margin 0 auto
	

//REUSED THROUGHOUT
.section__header
	text-align center
	// max-width 20%
	margin 0 auto 70px auto
	display flex
	flex-direction column

.section__header h1
	text-transform uppercase
	font-size 8rem
	letter-spacing 1.5px
	+for_bp(sml)
		font-size 4.5rem	
	
.section__header h5
	text-align right
	align-self center
	font-size 2rem
	margin-left 50px
	font-family serif

.gallery__header h5:before, .skills__header h5:before, .profile__header h5:before
	textDeco(black)
	


//404 Page

.fourHeader
	background purple
	height 80vh
	display flex
	angled-edge('outside bottom', 'lower right', purple, 1900, 250)
	
.fourHeader__text
	margin auto
	transform rotate(-90deg)
	color offWhite

.fourHeader__text h1
	font-size 8rem
	margin 0
	line-height 0.8

.fourHeader__text h2
	font-size 6.5rem
	margin 0
	line-height 0.8

.fourHeader__text h4
	color pink
	font-size 2rem
	line-height 2
	
.tagForErrorPage
	color pink

.fourList
	list-style none
	font-size 2rem
	color offWhite
	align-self center
	margin-right 20px

.fourList li 
	padding 20px 0
	
.fourList li a
	color pink
	text-decoration none